﻿<PageTitle>DEMO | @PageTitle</PageTitle>

<div class="mx-5 my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (Breadcrumb is not null && Breadcrumbs is null)
            {
                <li class="breadcrumb-item text-muted"><a href="/"><i class="fa-solid fa-house house-icon"></i></a> <span class="px-1">/</span> Vehicles</li>
            }
            else if (Breadcrumbs is not null)
            {
                <li class="breadcrumb-item"><i class="fa-solid fa-house house-icon"></i> <span class="px-1">/</span> Vehicles</li>
            }
            else
            {
                <li class="breadcrumb-item text-muted"><i class="fa-solid fa-house house-icon"></i> <span class="px-1">/</span> Vehicles</li>
            }
            <li class="breadcrumb-item active" aria-current="page">@Breadcrumb</li>
        </ol>
    </nav>

    @if (IsLoaded)
    {
        <div class="my-4">
            @ChildContent
        </div>
    }
    else
    {
        <h5 class="loader">
            <span class="loader-icon"></span>
        </h5>
    }
</div>