@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="container mx-auto w-50" style="margin-top: 10rem">
	<div class="alert alert-success" role="alert">
		<h1 class="alert-heading">Email sent</h1>
		<h5>An email has been sent, if an account with the email provided exists, you'll receive a link to reset your password shortly.</h5>
		<a class="btn btn-primary custom-btn mt-3" href="/Account/Login">Login</a>
	</div>
</div>